<!-- gestione dei dati di input con FORM -->
<form #f="ngForm" (ngSubmit) = "trovaBirra(f)" >
  <!-- campo select dei nomi birre -->
<div>
  <select name="nome" id="nome" required ngModel>
<!-- select option/valori per i valori di nome delle birre tramite *ngFor -->
  <option *ngFor="let birra of birreList" [value]="birra.name">{{birra.name}}</option>

</select>
</div>
  <!-- campo select dei tipi birre -->
<div>
  <select name="tipi" id="tipi" required ngModel>
    <!-- select option/valori per i valori dei tipi delle birre fissi come stringhe in option -->
    <option value="small">small</option>
    <option value="medium">medium</option>
</select>
</div>

<!-- bottone search -->
<div>

<!-- se uso la function verifica per abilitarlo solo se entrambe le selezioni precendenti fatte-->
<!-- <button type="submit" [disabled]="verifica(f)"> Search </button> -->
<!-- ..... se invece uso i valori del ngform e il required controllo della validità -->
<button type="submit" [disabled]="f.invalid"> Search </button>
</div>
</form>

  <!-- per renderizzare dettaglio birra selzionata richiamo tag del componente dettaglio -->
<div *ngIf="currentBirra; else nessunaBirra">
  <bir-dettaglio [birra]="currentBirra"></bir-dettaglio>
</div>

<!-- ng-template per gestire messaggio nel caso in cui non trovo una birra -->
<ng-template #nessunaBirra>
  nessuna birra selezionata
</ng-template>

