  <!-- <router-outlet></router-outlet> richiamo tag del modulo di gestione del rounting per andare alla pagina della rotta -->

  <div class="container-fluid text-center"> <!-- metti qui classe con fondo nero da creare -->
  <!-- <header class="text-center" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"> -->
    <header class="container-fluid text-center"  >
    <h3>JOKE APP</h3>
  </header>
<!-- richiamo layout dei tre box -->
<div class="row">
  <jk-jattuali></jk-jattuali>
</div>

<div class="row">
    <jk-jpiaciuti></jk-jpiaciuti>
</div>
<div class="row">
    <jk-jnon-piaciuti></jk-jnon-piaciuti>
</div>
<!-- prima di aggiungere class=row era -->
    <!-- <jk-jattuali></jk-jattuali> -->
    <!-- <jk-jpiaciuti></jk-jpiaciuti> -->
    <!-- <jk-jnon-piaciuti></jk-jnon-piaciuti> -->
</div>

