<!-- prima versione navbar da appunti + rounting con routerlink-->
<div class="container">
  <header class=""> <!-- valutare se togliereperchè non porta a nulla  -->
    <a class="" href="#">Navbar da app component per Angular_esercizio_8</a>

  <ul class=""> <!-- aggiungere classi -->
    <li><button href="#" class="" routerLink="/utenti">Utenti</button></li>
    <li><button href="#" class="" routerLink="/ordini">Order</button></li>
  </ul>

  </header>
</div>
<!-- versione del progetto di sciuti a fine lezione
<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a class="navbar-brand" href="#">NG Project Tracking Tool</a>

  <ul class="nav nav-pills col-12  col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 link-secondary" routerLink="/home" routerLinkActive="active">Dashboard</a></li>
    <li><a href="#" class="nav-link px-2 link-dark" routerLink="/projects" routerLinkActive="active">Progetti</a></li>
    </ul>
 indirizzamento e navigazione tramite direttiva Angular routerLink="/nomepath", href="#" rimane vuoto   routerLinkActive="active" e classe nav-pills per avere effetto bottone di link blu
  </header>
</div>
-->
